@model IEnumerable<APISystem.Entity.Profesor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departmant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OsobaIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OsobaPrezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GodinaRodjenja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departmant.DepartmantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsobaIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsobaPrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaRodjenja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OsobaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OsobaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OsobaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
